<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<meta http-equiv="X-UA-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vocab Bank</title>
	<link rel="stylesheet" href="vocabBankMainStyle.css">
  	<script src="/vocab_SectionTab.js"></script>
</head>
<body onload="document.getElementById('defaultOpen').click();">
	<div class="title"><b>VOCAB BANK</b></div>
	
<div class="section">
		<button class="seclinks" onclick="openSection(event, 'AddSec')" id="defaultOpen">VOCAB ADD</button>
		<button class="seclinks" onclick="openSection(event, 'ListSec')">VOCAB LIST</button>
		<button class="seclinks" onclick="openSection(event, 'PickSec')">VOCAB PICK</button>
  <button class="seclinks" onclick="openSection(event, 'FileSec')">VOCAB FILE</button>
	</div>

	<div id="AddSec" class="secContent">
		<h3>Add New Vocab</h3>
		<div class="secContainer" style=" color: black">
			<form action="/vocab_AddTerm" method="post" name="addTerm">
				<div class="addTermSec">
					<label for="vocabTerm">Vocab Term</label>
					<input type="text" placeholder="Enter vocab term here" name="vocabTerm" class="inputV" required>
				</div>
				<div class="addTermSec">
					<label for="definition">Definition</label>
					<textarea placeholder="Define..." name="definition" class="inputV" style="height: 100px" required></textarea>
					
				</div>
				<div class="addTermSec">
					<label for="context">Use/Context</label>
					<textarea placeholder="Write something..." name="context" class="inputV" style="height: 100px" required></textarea>
				</div>
				<div class="addTermSec">
					<label for="notes">Notes</label>
					<textarea placeholder="Note here..."  name="notes" class="inputV" style="height: 80px"></textarea>
				</div>
				<div class="addTermSec">
					<label for="date">Input Date</label>
      				<input type="date" name="date" class="inputV">
      			
				<div class="clearfix">
     	 			<button type="submit" class="addbtn">Add Vocab</button>
     	 			<button type="reset" class="cancelbtn">Cancel</button>
      				</div>
      			
    			</div>
			</form>
		</div>
	</div>
	
	
	
	
	
	
	<div id="ListSec" class="secContent">
		<h3>Vocab List</h3>
		<div class="secContainer" id="vocabList">
        <div class="listDiv">
      <a href= "/vocab_ListTerm" class="listbtn">Load List</a>
        </div>
      
    {{#if userTable.length}}
      <div style="overflow-x:auto; background-color: white; width: 100%; height: 500px">
      <table border="1">
    <thead style="color: white; text-align: center; background-color: #262a40">
          <tr>
             <th>Vocab_Term</th>
             <th>Definition</th>
             <th>Context</th>
             <th>Notes</th>
             <th>Date</th>
          </tr>
      </thead>
      <tbody style="color: black; padding: 5px">
            {{#each userTable}}
                <tr>
                  <td>{{vocab_term}}</td>
                  <td>{{definition}}</td>
                  <td>{{context}}</td>
                  <td>{{notes}}</td>
                  <td>{{date}}</td>
                </tr>
            {{/each}}
        </tbody>
      </table>
      </div>
      {{/if}}
    </div>
	</div>
	
	
	
	
	
	<div id="PickSec" class="secContent">
		<h3>Vocab Pick</h3>
    <div class="secContainer" style="overflow-x:auto; color: black;">
      <div class="listDiv">
      <a href= "/vocab_PickTerm" class="listbtn">Load Picks</a>
        </div>
      {{#if pickTerm1.length}}
          {{#each pickTerm1}}
                <div id="pickTerm" class="pickDiv">
                  <h4>"{{vocab_term}}"</h4>
                  
                  </div> 
                  <div id="pickDef" class="pickDiv">
                  <p>{{definition}}</p>
                  </div>
                  <div id="pickCntxt" class="pickDiv">
                  <p>{{context}}</p>
                </div>
            {{/each}}
      
      
         {{#if pickTerm2.length}}
          {{#each pickTerm2}}
                <div id="moreTerm">
                  <h4>More Terms: </h4>
                  </div>
					        <div id="termSetA" class="rowTerm" >
                  <p>"{{vocab_term}}" : {{definition}}</p>
                  </div>
                
            {{/each}}
          {{/if}}
      
         {{#if pickTerm3.length}}
          {{#each pickTerm3}}
					        <div id="termSetB" class="rowTerm">
                  <p>"{{vocab_term}}" : {{definition}}</p>
                  </div>
            {{/each}}
          {{/if}}
      
          {{#if pickTerm4.length}}
          {{#each pickTerm4}}
					        <div id="termSetC" class="rowTerm">
                  <p>"{{vocab_term}}" : {{definition}}</p>
                  </div>
            {{/each}}
          {{/if}}
                  
      {{/if}}
	</div>
  </div>
	
	
	
	<div id="FileSec" class="secContent">
		<h3>Vocab File</h3>
  
		<div class="secContainer">
       <div class="clearfix">
         <div style="margin: 5px">
      <p>Download your Vocab Bank as a .txt file.</p>
        <a href="/vocabBank_File" class="dLbtn">Load to ready the file</a>
    </div>   
      {{#if msg.length}}
         <div style="margin: 5px">
         <p>
           {{msg}}
         </p>
         </div>
         {{/if}}
         <div style="margin: 5px">
        <a href="/vocabBankF.txt" class="dLbtn" download="vocabBankF.txt">Download!</a>
           </div>
      </div>
		<form method="post" action="/vocab_Logout">
      <div class="clearfix">
        <button type="submit" class="logoutbtn">Logout</button>
      </div>
		</form>
      <div class="gifDiv">
        <img src="https://cdn.glitch.global/c8578ba1-e8d0-46e6-98a9-418d4a5631d4/catread.gif?v=1686476159315" alt="catread">
        </div>
		</div>
  </div>
</body>
   
</html>